##### vscode를 통해 처음 판다스를 실행했는데 내가 사용할 몇몇 모듈이 작동을 안하더라..
#### 해결방법.
1. vs코드의 python이 실행되는 위치를 찾음.
2. 그쪽에서 내가 사용할 모듈을 install.
3. (추후..) 가능할 경우 파이썬 혹은 주피터 노트북을 실행할 때 모듈 로드 경로를 바꿔줘야지..

In [1]:
# from sys import executable                                                        
# print(executable)
# !/Users/Duggubi/AppData/Local/Programs/Python/Python310/python.exe -m pip install pandas
# !/Users/Duggubi/AppData/Local/Programs/Python/Python310/python.exe -m pip install matplotlib
# !/Users/Duggubi/AppData/Local/Programs/Python/Python310/python.exe -m pip install seaborn
# 만약 나처럼 한다고 하면 1,2번째 줄을 통해 먼저 파이썬이 실행되는 곳의 경로를 찾은 후 모듈을 설치해주자.

print(3)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# done.
print('done')

3
done

프로젝트에 사용할 데이터를 한참 찾다가 지쳐서 생각을 리프레싱한 후 다른 종류의 데이터를 찾게 되었다.  
찾은 데이터의 종류는 1970년부터 2016년까지 국가별 영유아 사망률, 출산률, 소득 데이터!  
우선 분석에 앞서 설명을 먼저 적고자 한다.  
이 데이터를 뽑게 된 근거는 사람의 영유아 시기가 건강과 관련해서 정말 민감한 나이라는 것 때문이다. 

새 index추가(영양성분 관련)  XXX

다른 문제 : 영유아 -> 일반인으로 확대할 방법? -> 신체적, 정신적 부분..?  
<!-- 아예 영유아를 대상으로 서비스?? 시중에 이유식이나 그런 책들도 많은데 제각 어떤거를 줘야하는지? -->
<!-- 아예 영유아에 대한 데이터 -->

### 가설
1. 수익이 적은 나라일수록 영유아의 영양 섭취가 상대적으로 부족할 수 밖에 없고, 따라서 영아 사망률이 높게 나올 수 밖에 없다는 것!
2. (WANTED..) 왜 일반인들도 균형잡힌 영양 섭취가 중요할까?
--> 어떤 다리가 필요할까??..  산업혁명 초기.. 번영과 기대수명은 반드시 비례하지 않음.

##### 사용한 데이터 및 논문의 주소
###### 데이터 링크 
https://www.kaggle.com/datasets/burhanykiyakoglu/infant-mortality-fertility-income

###### 논문 링크
1. 새로운 index

2. 영유아 --> 일반인으로 허들을 높일 방법?
(영아사망률 -> 기대수명의 높은 연관성.)
https://ourworldindata.org/child-mortality
https://ourworldindata.org/life-expectancy

##### col설명(필요한것만)  
 
m1970, …, m2016: Mortality rate, infant (per 1,000 live births) between 1970 and 2016

 i1970, …, i2016: Adjusted net national income per capita (current US$) between 1970 and 2016

 (f1970, …, f2016: Fertility rate, total (births per woman) between 1970 and 2016)

In [33]:
data = pd.read_csv('../../Kaggle_DB/HJ/MortalityFertilityIncome.csv', delimiter= ',')
data.head(5)

,Country Name,Country Code,Region,m1970,m1971,m1972,m1973,m1974,m1975,m1976,...,i2007,i2008,i2009,i2010,i2011,i2012,i2013,i2014,i2015,i2016
0,Aruba,ABW,Latin America & Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,South Asia,"204,8",201,197,"193,1","188,8","184,7","180,6",...,"331,3254993","331,2271678","395,5679021","486,9793222","535,3307235","590,4566662","559,223161","548,5265822","494,2921982","489,7756091"
2,Angola,AGO,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"629,2704433","251,732843","902,6093382","1095,241414","1219,032021","1492,119826","1853,506007","2091,133487","2062,581538","1777,44841"
3,Albania,ALB,Europe & Central Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"3343,591615","3961,319155","3622,890286","3530,054028","3850,766176","3641,192766","3866,501647","3937,222372","3458,725714","3606,903851"
4,Andorra,AND,Europe & Central Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
data[['Country Name','Region','m1970', 'i1970']]

     Country Name                      Region  m1970        i1970
0           Aruba   Latin America & Caribbean    NaN          NaN
1     Afghanistan                  South Asia  204,8  150,5673375
2          Angola          Sub-Saharan Africa    NaN          NaN
3         Albania       Europe & Central Asia    NaN          NaN
4         Andorra       Europe & Central Asia    NaN          NaN
..            ...                         ...    ...          ...
212        Kosovo       Europe & Central Asia    NaN          NaN
213   Yemen, Rep.  Middle East & North Africa  218,6          NaN
214  South Africa          Sub-Saharan Africa    NaN          NaN
215        Zambia          Sub-Saharan Africa  108,1          NaN
216      Zimbabwe          Sub-Saharan Africa   71,7          NaN

[217 rows x 4 columns]

통으로 삭제해도 무관하지만 데이터의 크기가 줄어드는 것이 아쉬워서 연도별 국가 데이터를 독립이라 가정,  
연도별로 데이터를 쪼갠 후 작업을 진행함.

따라서 datas[0]의 경우 1970년도 데이터,  
$0 \leq i \leq 47$의 숫자에 대하여 datas[$i$]의 경우 $1970+i$년도의 데이터를 뜻한다.

In [29]:
datas=[]

for i in range(1970,2017):
    datas.append(data[['Country Name','Region',f'm{i}',f'i{i}']])
datas[0]

     Country Name                      Region  m1970        i1970
0           Aruba   Latin America & Caribbean    NaN          NaN
1     Afghanistan                  South Asia  204,8  150,5673375
2          Angola          Sub-Saharan Africa    NaN          NaN
3         Albania       Europe & Central Asia    NaN          NaN
4         Andorra       Europe & Central Asia    NaN          NaN
..            ...                         ...    ...          ...
212        Kosovo       Europe & Central Asia    NaN          NaN
213   Yemen, Rep.  Middle East & North Africa  218,6          NaN
214  South Africa          Sub-Saharan Africa    NaN          NaN
215        Zambia          Sub-Saharan Africa  108,1          NaN
216      Zimbabwe          Sub-Saharan Africa   71,7          NaN

[217 rows x 4 columns]

In [ ]:
for i in range(47):
    datas[i] = datas[i].dropna()